html
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
  body
    center.wrapper
      .webkit
        //if (gte mso 9)|(IE)
          table(width='600', align='center')
            tbody
              tr
                td
        table.outer(align='center')
          tbody
            tr
              td.full-width-image
                img(src='http://4.bp.blogspot.com/-lqrrSPZpPxg/XExwW2726SI/AAAAAAAAAHw/mYDYw0cisuc-Lv-SrP6_FpsZ1sZun7-TgCK4BGAYYCw/s1600/banner.jpg&quot',height='250')
            tr
              td.one-column
                table(width='100%')
                  tbody
                    tr
                      td.inner.contents(bgcolor='ffffff')
                        h1 Hola #{username}
                        p Gracias por formar parte de la la familia Cresspo.
                        p Como ultimo paso para tu registro 
                        p Porfavor copie y pegue el siguiente codigo.
            tr
              td.one-column(bgcolor='#f2f2f2')
                table(width='100%')
                  tbody
                    tr
                      td.inner.contents
                        h2=code
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')


  